.root {
  background-color: #293350;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

.header {
  padding: 0px min(10px, 3vw);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  background-color: #455078;
}

.startAdornment,
.endAdornment {
  display: flex;
  align-items: center;
}

.startAdornment {
  justify-content: start;
}

.endAdornment {
  justify-content: end;
}

.title {
  margin: 10px 0px;
  font-size: 20px;
  color: #ffffff;
}

.main {
  flex: 1 0 auto;
  overflow-y: auto;
  padding: min(10px, 3vw);
}
